*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
/* main{
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
} */

.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: #13a4a4;
}

.main-nav .main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.main-nav__item a:hover {
    color: blue;
}

.main-nav__item a:active {
    color: red;
}

.main-nav__item a::after {
    content: ' | ';
}

main{
    font-size: 1.6 rem;
}

.container{
    border: .3rem solid black;
    display: flex;
    justify-content: space-evenly;
}

.box{
    width: 10rem;
    height: 10rem;
}

.box1{
    background-color: blue;
}
.box2{
    background-color: blueviolet;
}
.box3{
    background-color: burlywood;
}
.box4{
    background-color: cadetblue;
}
.box5{
    background-color: coral;
}
.box6{
    background-color: salmon;
}
