* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}


h1 {
    font-family: serif;
}

#page-title {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    font-size: 1.8rem;
    font-family: monospace;
}

.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: #13a4a4;
}

.main-nav .main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.main-nav__item a:hover {
    color: blue;
}

.main-nav__item a:active {
    color: red;
}

.main-nav__item a::after {
    content: ' | ';
}

/* __________________________________________________________________________________________________________________________________ */

.block-element{
    background-color: green;
    margin: 10px;
    padding: 20px;
}

.nav-lista{
    background: peachpuff;
    padding: 20px;
    list-style: none;
    text-align: center;
}

.nav-lista li{
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
}